body {
    background-color: #d5dbdb ;
}

.justify-content-center {
    display: flex;
}

.italic {
    font-style: italic;
}

h1 {
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
 
}

.uploaded-image {
    width:300px;
}

.submissionImage {
    width: 50%;
}

.submissionRow {
    font-size: 24px;
    text-align: center;
    color: black !important;
}

.submissionContainer {
    border: 2px solid black;
}

.headerImage {
    width:150px;
}