body {
  background-color: #d5dbdb;
  padding-top: 100px;
}

.justify-content-center {
  display: flex;
}

.italic {
  font-style: italic;
}

h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  border-top: 2px double black;
  border-bottom: 2px double black;
  padding-top: 10px;
}

h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.uploaded-image {
  width: 300px;
}

.submissionImage {
  width: 50%;
}

.submissionRow {
  font-size: 24px;
  text-align: center;
  color: black !important;
}

.submissionContainer {
  border-top: 5px double black;
}

.headerImage {
  width: 300px;
  border-radius: 15px;
}

.formCard {
  border: 3px solid black;
  font-family: "Funnel Display", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.accordionHeader {
    font-family: "Funnel Display", sans-serif;
}

.totalsBackground {
  background: linear-gradient(to right, #f9f9f9, #f0f0ff);
  width: max-content;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-family: "Funnel Display", sans-serif;
}

@media screen and (max-width: 570px) {
  .submitButton {
    width: 75% !important;
  }

  .headerImage {
    width: 95vw !important;
  }
  .minimizeText {
    font-size: 14px;
  }
}
