body {
    background-color: #d5dbdb ;
    padding-top: 100px;
}

.justify-content-center {
    display: flex;
}

.italic {
    font-style: italic;
}

h1 {
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
 
}

.uploaded-image {
    width:300px;
}

.submissionImage {
    width: 50%;
}

.submissionRow {
    font-size: 24px;
    text-align: center;
    color: black !important;
}

.submissionContainer {
    border: 2px solid black;
}

.headerImage {
    width:300px;
    border-radius: 15px;
}

.formCard {
    border: 3px solid black;
    font-family: "Funnel Display", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.totalsBackground {
    background-color: whitesmoke !important;
    width:max-content;
    border:solid 2px black;
    border-radius: 10px;
}

@media screen and (max-width:570px) {
    .submitButton {
        width:75% !important;
    }

    .headerImage {
        width:75% !important;
    }
    .minimizeText {
        font-size: 14px;
    }
}

